* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(furniture1.jpeg);
    background-position: bottom;
    background-size: cover;
    display: flex;
}
.header-content{
    text-align: center;
    width: 800px;
    margin: auto;
    padding: 100px;
}
header h2{
    font-size: 15vmin;
}
header p{
    margin-bottom: 250px;
}
.ctn{
    background-color: rgb(226, 189, 24);
    padding: 10px 20px;
    text-decoration: none;
    color: whitesmoke;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
ul{
    list-style: none;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
.active{
    color: palevioletred;
    text-decoration: underline;
    font-weight: bold;
}
.section-2{
    width: 80%;
    height: 100%h;
    margin: auto;
}
.title{
    background-color: antiquewhite;
    text-align: center;
    margin-top: 40px;
}
.title1-sub1{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 40px 60px;
}
.title1-sub1 h4{
    margin-bottom: 2vh;
    margin-top: 1vh;
}
.title1-sub1 p{
    margin-bottom: 4vh;
}
.title1-sub1 i{
    font-size: 70px;
}
.ctn-1{
    padding: 10px 20px;
    background-color: rgb(226, 189, 24);
    text-decoration: none;
    color: whitesmoke;
}
/*----------------*/
.section-3{
    width: 100%;
    height: 100%;
    background-color: rgb(226, 189, 24);
    display: flex;
}
.section-3 img{
    width: 70vh;
    height: 40vh;
    margin-top: 100px;
    margin-right: 80px;
}
.title-2{
    padding: 100px 100px;
    width: 40%;
    margin-left: 150px;
    margin-top: 30px;
}
.title-2 h3{
    font-size: 30px;
}
.title-2 p{
    line-height: 3vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.ctn-3{
    padding: 10px 20px;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
}
/*-------------------*/
.section-4{
    width: 80%;
    height: 100%;
    margin: auto;
}
.title-3{
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    justify-content: space-around;
}
.sec4-content{
    display: flex;
}
.section-4 img{
    width: 38vw;
}
.cont1{
    width: 60vw;
    margin-right: 20px;
}
.section-4 h3{
    color: rgb(226, 189, 24);
    margin-top: 10px;
    margin-bottom: 10px;
}
/*---------------------------*/
.section-5{
    width: 100vw;
    height: 100%;
    background-image: url(furniture5.jpeg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(226, 189, 24);
}
.title-5{
    width: 80vw;
    margin: auto;
    padding: 50px 10px;
    color: whitesmoke;
}
.title-5 h3{
    margin: 20px 0px;
}
.title-5 p{
    margin-bottom: 40px;
}
.ctn-5{
    padding: 10px 20px;
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
}
/*--------------------*/
.section-6{
    width: 80vw;
    height: 100%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}
.sec6-cont{
    display: flex;
    margin-top: 40px;
    padding: 10px 10px;
    justify-content: space-between;
}
.sec6-img1{
    background-image: url(furniture6.jpeg);
    background-position: bottom;
    background-size: cover;
    width: 25vw;
    height: 40vh;
}
.sec6-cont h3{
    margin-top: 32vh;
}
/*----------------------------*/
.section-7{
    width: 80vw;
    height: 60vh;
    text-align: center;
    margin-top: 40px;
    margin: auto;
}
.title-7{
    margin-bottom: 40px;
}
.section-7 img{
    width: 10vw;
    height: 15vh;
}
.sec7-cont1, .sec7-cont2{
    display: flex;
    width: 40vw;
    height: 20vh;
    text-align: left;
    padding: 10px 10px;
    border: 2px solid black;
}
.sec7-text{
    margin-left: 10px;
}
.sec7-cont2{
    margin-left: 35vw;
    margin-top: 10px;
}
.sec7-cont{
    padding: 20px 40px;
}
/*---------------------*/
.section-8{
    width: 100vw;
    height: 100%;
    background-color: rgb(226, 189, 24);
}
.sec8-cont{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 40px 20px;
}
input{
    width: 45vw;
    padding: 10px 40px;
    line-height: 3vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ctn-8{
    margin-top: 20px;
    background-color: rgb(226, 189, 24);
    color: whitesmoke;
    padding: 10px 20px;
    border: 2px solid whitesmoke;
}
.section-8 h3{
    font-size: 30px;
}
.msg{
    padding: 20px 40px;
}
.section-8 img{
    padding: 60px 10px;
    height: 63vh;
}
/*-------------------------*/
.footer-up{
    width: 100%;
    height: 100%;
    background-color: rgb(65, 61, 61);
}
.footer-up1{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 40px 10px;
}
.footer1{
    display: flex;
    width: 50vw;
    padding: 30px 40px;
    color: whitesmoke;
}
.footer1-cont1{
    width: 10vw;
    margin-right: 40px;
    margin-left: 30px;
}
.footer1-cont2{
    width: 13vw;
    margin-left: 20px;
}
.footer2{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 30px 40px;
}
.footer2-cont1{
    color: whitesmoke;
    margin-right: 70px;
}
.footer2 a{
    text-decoration: none;
    color: whitesmoke;
}
.footer2-cont2{
    width: 10vw;
    color: whitesmoke;
}
.footer-up h3, h2{
    margin-bottom: 10px;
}
.footer-end{
    color: black;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.fa-brands{
    background-color: whitesmoke;
    padding: 3px 3px;
    border: 2px solid black;
    border-radius: 50%;
}
.footer-logos{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
/*------------------------------------*/
@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
        color: whitesmoke;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(75, 72, 72);
        color: whitesmoke;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 20px auto;
    }
    .menu-btn{
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    .title1-sub1{
        flex-direction: column;
        line-height: 4vh;
    }
    .subsec i{
        margin-top: 10px;
    }
    .section-3{
        flex-direction: column;
        justify-content: center;
    }
    .title-2{
        width: 100%;
        text-align: center;
        margin: 10px 10px;
    }
    .sec2-img{
        margin-left: 90px;
        margin-top: -110px;
    }
    .sec4-content{
        flex-direction: column;
        text-align: center;
    }
    .cont1{
        background-color: aqua;
        width: 100%;
        line-height: 3vh;
        margin-bottom: 30px;
    }
    .sec6-cont{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .sec6-img1{
        margin: 20px auto;
    }
    .sec7-cont1, .sec7-cont2{
        width: 100%;
    }
    .sec7-cont2{
        margin-left: 0;
    }
    .contact-sec8{
        width: 100%;
        text-align: center;
    }
    .sec8-cont{
        flex-direction: column-reverse;
    }
    .ctn-8{
        width: 200px;
        margin: auto;
    }
    .section-8 ::placeholder{
        text-align: center;
    }
    .footer-up1{
        flex-direction: column;
    }
    .footer1{
        width: 100%;
    }
    .footer1-cont1{
        width: 40%;
    }
    .footer1-cont2{
        width: 40%;
    }
    .footer2{
        margin-left: 30px;
    }
    .footer2-cont2{
        width: 40%;
    }

}